@import '_variable.scss';

@import '_fonts.scss';

@import '_mixin';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $containerMaxWidth;
  margin: 0 auto;
  padding: 0 40px;
}

body {
  font-family: $fontRegular, $fontStandart;
  background-color: #FAFAFA;
  ;
}

html,
body {
  position: relative;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  display: inline-block;
  height: 100%;
  width: auto;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button,
input {
  outline: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.heading {
  font-family: $fontBold, $fontStandart;
  font-weight: 700;
}

.open {
  display: flex;
}

.hidden {
  display: none;
}

body {
  background: url('images/bg-left.png') no-repeat -8px -2px transparent, url('images/bg-right.png') no-repeat 100.5% 24em transparent;
}

/* header */

.header {
  margin-bottom: 66px;
  padding-top: 35px;

  &-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    &__logo {
      &-wrap {
        display: flex;
        width: 30.5%;
        min-width: 447px;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin-right: 3.5%;
      }

      &-stribe {
        width: 1px;
        height: 100%;
        margin: 0 10px;
        background-color: $grey2F50;
      }

      &-txt {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: $grey2F90;
      }
    }

    &__nav {
      position: relative;
      display: flex;
      width: 19.9%;
      min-width: 267px;
      justify-content: space-between;
      align-items: flex-start;
      margin-right: auto;

      &-link {
        font-size: 24px;
        line-height: 35px;
        font-weight: 400;
        color: $dark2F;
      }
    }

    &__tel {
      display: flex;
      align-items: center;
      margin-right: auto;
      font-size: 24px;
      line-height: 35px;
      font-weight: 400;
      color: $dark2F;

      & svg {
        margin-top: -7px;
        margin-right: 13px;
      }
    }

    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 32px 5px 31px;
      border: none;
      border-radius: 12px;
      background-color: $magentaCE;

      & svg {
        margin-right: 14px;
        color: $white;
      }

      &-txt {
        font-family: $fontMedium, $fontStandart;
        font-size: 23px;
        line-height: 35px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $white;
      }
    }

    &__burger {
      display: none;
    }

    &__nav.header-content__active {
      position: absolute;
      right: 40px;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 50%;
      min-height: 50px;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0px 3.99977px 24.9985px rgba(234, 93, 187, 0.25);
      background-color: $white;
      transform: scale(1);
    }

    &__x {
      position: absolute;
      top: 20px;
      right: 40px;
      transform: scale(0);
      transition: transform .5s ease-in-out;
    }
  }
}

/* breadcrumbs */

.section-breadcrumbs {
  margin-bottom: 18px;

  &__item {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $grey2F50;
  }

  &__item:nth-child(2) {
    margin: 0 8px;
  }
}

/* section-hero */

.section-hero {
  margin-bottom: 145px;

  &__heading-h1 {
    margin-bottom: 20px;
    font-family: $fontBold, $fontStandart;
    font-size: 56px;
    line-height: 80px;
    font-weight: 700;
    color: $black;
  }

  &__heading-h1 span {
    color: $magentaCE;
  }

  &__course {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 23px;
  }

  &__price {
    font-family: $fontSemibold, $fontStandart;
    font-size: 27px;
    line-height: 35px;
    font-weight: 600;
    color: $grey2F80;
  }

  &__currency {
    font-family: $fontStandart;
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    color: $grey2F80;
  }

  &__rub {
    margin-right: 11px;
    font-size: 38px;
    line-height: 30px;
    font-weight: 400;
    color: $magentaCE;
  }

  &__course svg {
    margin-right: 25px;
  }

  &__desc-txt {
    display: inline-block;
    font-size: 25px;
    line-height: 160%;
    font-weight: 400;
    color: $grey2F80;
  }

  &__desc-txt:not(:last-child) {
    margin-bottom: 15px;
  }

  &__desc-txt .hidden {
    display: none;
  }
}

/* section-history */

.container.section-history__content {
  padding: 0 133px;
}

.section-history {
  margin-bottom: 122px;
  font-size: 25px;
  line-height: 160%;
  font-weight: 400;
  color: $grey2F80;

  &__heading-h2 {
    text-align: center;
    margin-bottom: 77px;
    font-family: $fontBold, $fontStandart;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: $dark2F;
  }
}

/* section-market */

.section-market {
  margin-bottom: 82px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading-h2 {
    text-align: center;
    margin-bottom: 29px;
    font-family: $fontBold, $fontStandart;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: $dark2F;
  }

  &__name {
    position: relative;
  }

  &__name::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -11px;
    left: 0;
    height: 7px;
    border-radius: 5px;
    background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
  }

  &__for {
    color: $magentaCE;
  }

  &__desc {
    width: 55%;
    text-align: center;
    font-size: 25px;
    line-height: 160%;
    font-weight: 400;
    color: $grey2F80;
  }
}

/* footer */

.footer {
  margin-bottom: 131px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 123px*3) / 4);

    &-desc {
      font-size: 18px;
      line-height: 160%;
      font-weight: 400;
      color: $grey2F80;
    }
  }

  &__item svg {
    margin-bottom: 32px;
    background-color: $magentaCE;
    box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
    border-radius: 15px;
  }

  &__heading-h3 {
    margin-bottom: 15px;
    font-family: $fontSemibold, $fontStandart;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    color: $dark2F;
  }
}
