@font-face {
  font-family: 'Lato-Regular';
  src: url('/fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-SemiBold';
  src: url('/fonts/Lato-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('/fonts/Lato-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
