$containerMaxWidth: 1610px;
$white: #ffffff;
$black: #000000;
$fontBold: 'Lato-Bold';
$fontRegular: 'Lato-Regular';
$fontMedium: 'Lato-Medium';
$fontSemibold: 'Lato-SemiBold';
$fontStandart: Arial, Helvetica, sans-serif;
$grey2F50: rgba(51, 26, 47, 0.5);
$grey2F90: rgba(51, 26, 47, 0.9);
$grey2F80: rgba(51, 26, 47, 0.8);
$dark2F: #331A2F;
$magentaCE: #CF51CE;

